@model BookManagementAuth.ViewModels.ResetPasswordViewModel

<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow-sm" style="width: 400px;">
        <h2 class="text-center mb-4">Reset Password</h2>
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Code" />
            <input type="hidden" asp-for="Email" />
            <div class="form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Enter new password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm new password" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">Reset Password</button>
        </form>
    </div>
</div>
